<div class="bg-zinc-200 px-10 py-10">
    <div class="grid grid-cols-4 max-w-[1200px] mx-auto">
        <div class="[&>a]:block [&>a]:text-zinc-500 [&>a]:py-[0.125rem]">
            <p class="font-bold pb-4">About</p>
            <a>About Whelp</a>
            <a>Careers</a>
            <a>Press</a>
            <a>Investor Relations</a>
            <a>Trust & Safety</a>
            <a>Content Guidelines</a>
            <a>UK Gender Pay Gap Report</a>
            <a>Terms of Service</a>
            <a>Privacy Policy</a>
            <a>Ad Choices</a>
            <a>Manage Cookies</a>
        </div>
        <div class="[&>a]:block [&>a]:text-zinc-500 [&>a]:py-[0.125rem]">
            <p class="font-bold pb-4">Discover</p>
            <a>Collections</a>
            <a>Talk</a>
            <a>Events</a>
            <a>Whelp Blog</a>
            <a>Support</a>
            <a>Whelp Mobile</a>
            <a>Developers</a>
            <a>RSS</a>
        </div>
        <div class="[&>a]:block [&>a]:text-zinc-500 [&>a]:py-[0.125rem]">
            <p class="font-bold pb-4">Whelp for Business</p>
            <a>Whelp for Business</a>
            <a>Business Owner Login</a>
            <a>Claim your Business Page</a>
            <a>Advertise on Whelp</a>
            <a>Business Success Stories</a>
            <a>Business Support</a>
            <a>Whelp Blog for Business</a>
        </div>      
        <div class="[&>a]:block [&>a]:text-zinc-500 [&>a]:py-[0.125rem]">
            <p class="font-bold pb-1">Languages</p>
            <a>English</a>
            <p class="font-bold pb-1 pt-3">Countries</p>
            <a>United Kingdom</a>
        </div>          
    </div>
</div>