<div class="bg-zinc-200 px-10 py-10">
    <div class="grid grid-cols-4 max-w-[1200px] mx-auto">
        <div class="[&>button]:block [&>button]:text-zinc-500 [&>button]:py-[0.125rem]">
            <p class="font-bold pb-4">About</p>
            <button>About Whelp</button>
            <button>Careers</button>
            <button>Press</button>
            <button>Investor Relations</button>
            <button>Trust & Safety</button>
            <button>Content Guidelines</button>
            <button>UK Gender Pay Gap Report</button>
            <button>Terms of Service</button>
            <button>Privacy Policy</button>
            <button>Ad Choices</button>
            <button>Manage Cookies</button>
        </div>
        <div class="[&>button]:block [&>button]:text-zinc-500 [&>button]:py-[0.125rem]">
            <p class="font-bold pb-4">Discover</p>
            <button>Collections</button>
            <button>Talk</button>
            <button>Events</button>
            <button>Whelp Blog</button>
            <button>Support</button>
            <button>Whelp Mobile</button>
            <button>Developers</button>
            <button>RSS</button>
        </div>
        <div class="[&>button]:block [&>button]:text-zinc-500 [&>button]:py-[0.125rem]">
            <p class="font-bold pb-4">Whelp for Business</p>
            <button>Whelp for Business</button>
            <button>Business Owner Login</button>
            <button>Claim your Business Page</button>
            <button>Advertise on Whelp</button>
            <button>Business Success Stories</button>
            <button>Business Support</button>
            <button>Whelp Blog for Business</button>
        </div>      
        <div class="[&>button]:block [&>button]:text-zinc-500 [&>button]:py-[0.125rem]">
            <p class="font-bold pb-1">Languages</p>
            <button>English</button>
            <p class="font-bold pb-1 pt-3">Countries</p>
            <button>United Kingdom</button>
        </div>          
    </div>
</div>