{% if view is not defined or (view != 'claim' and view != 'messaging') %}
<div class="bg-zinc-200 px-10 py-10">
    <div class="grid grid-cols-4 max-w-[1200px] mx-auto">
        <div class="[&>button]:block [&>button]:text-zinc-500 [&>button]:py-[0.125rem]">
            <p class="font-bold pb-4">About</p>
            <button class="hover:underline">About Whelp</button>
            <button class="hover:underline">Careers</button>
            <button class="hover:underline">Press</button>
            <button class="hover:underline">Investor Relations</button>
            <button class="hover:underline">Trust & Safety</button>
            <button class="hover:underline">Content Guidelines</button>
            <button class="hover:underline">UK Gender Pay Gap Report</button>
            <button class="hover:underline">Terms of Service</button>
            <button class="hover:underline">Privacy Policy</button>
            <button class="hover:underline">Ad Choices</button>
            <button class="hover:underline">Manage Cookies</button>
        </div>
        <div class="[&>button]:block [&>button]:text-zinc-500 [&>button]:py-[0.125rem]">
            <p class="font-bold pb-4">Discover</p>
            <button class="hover:underline">Collections</button>
            <button class="hover:underline">Talk</button>
            <button class="hover:underline">Events</button>
            <button class="hover:underline">Whelp Blog</button>
            <button class="hover:underline">Support</button>
            <button class="hover:underline">Whelp Mobile</button>
            <button class="hover:underline">Developers</button>
            <button class="hover:underline">RSS</button>
        </div>
        <div class="[&>button]:block [&>button]:text-zinc-500 [&>button]:py-[0.125rem]">
            <p class="font-bold pb-4">Whelp for Business</p>
            <button class="hover:underline">Whelp for Business</button>
            <button class="hover:underline">Business Owner Login</button>
            <button class="hover:underline">Claim your Business Page</button>
            <button class="hover:underline">Advertise on Whelp</button>
            <button class="hover:underline">Business Success Stories</button>
            <button class="hover:underline">Business Support</button>
            <button class="hover:underline">Whelp Blog for Business</button>
        </div>      
        <div class="[&>button]:block [&>button]:text-zinc-500 [&>button]:py-[0.125rem]">
            <p class="font-bold pb-1">Languages</p>
            <button class="hover:underline">English</button>
            <p class="font-bold pb-1 pt-3">Countries</p>
            <button class="hover:underline">United Kingdom</button>
        </div>          
    </div>
</div>
{% endif %}