{% extends 'base.html.twig' %}
{% block body %}
    <span class="absolute z-10 text-zinc-100 text-5xl font-bold top-48 left-10">
        Connect with great local businesses
    </span>
    <img
        class="h-[500px] w-full object-cover object-bottom brightness-50" 
        src="{{ asset('build/images/main_1.c44d6871.jpg') }}" 
        alt="404">
    <p class="text-center text-3xl font-black my-10">
        Recent Activity
    </p>
    <div class="grid grid-cols-3 gap-8 px-10 pb-10 max-w-[1300px] mx-auto">
        {% for review in reviews %}
            <div class="w-[100%] h-[100px] rounded border border-zinc-300 cursor-pointer hover:shadow-md">
            </div>
        {% endfor %}
    </div>
    <p class="text-center text-3xl font-black py-10 border-t">
        Categories
    </p>
    <div 
        x-data="{ show: false }"
        class="max-w-[1300px] mx-auto">
        <div class="grid grid-cols-4 gap-8 px-10 pb-10">
            <div class="w-[100%] py-[6vw] text-center rounded border border-zinc-300 cursor-pointer hover:shadow-md">
                <img class="m-auto" src="https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_design_cdn/8bc05b287157/assets/img/svg_illustrations/40x40_food_v2.svg" alt="404" />
                Restaurants
            </div>
            <div class="w-[100%] py-[6vw] text-center rounded border border-zinc-300 cursor-pointer hover:shadow-md">
                <img class="m-auto" src="https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_design_cdn/488aeb87ef6e/assets/img/svg_illustrations/40x40_gift_shops_v2.svg" alt="404" />
                Shopping
            </div>
            <div class="w-[100%] py-[6vw] text-center rounded border border-zinc-300 cursor-pointer hover:shadow-md">
                <img class="m-auto" src="https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_design_cdn/1397897c21a5/assets/img/svg_illustrations/40x40_new_v2.svg" alt="404" />
                Nightlife
            </div>
            <div class="w-[100%] py-[6vw] text-center rounded border border-zinc-300 cursor-pointer hover:shadow-md">
                <img class="m-auto" src="https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_design_cdn/0372f8e93aa9/assets/img/svg_illustrations/40x40_set_objective_v2.svg" alt="404" />
                Sports & Leisure
            </div>  
            <div class="w-[100%] py-[6vw] text-center rounded border border-zinc-300 cursor-pointer hover:shadow-md">
                <img class="m-auto" src="https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_design_cdn/5bd5d2648742/assets/img/svg_illustrations/40x40_barbers_v2.svg" alt="404" />
                Beauty & Spas
            </div>
            <div class="w-[100%] py-[6vw] text-center rounded border border-zinc-300 cursor-pointer hover:shadow-md">
                <img class="m-auto" src="https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_design_cdn/5967f38fe621/assets/img/svg_illustrations/40x40_auto_v2.svg" alt="404" />
                Car & Motorcycle
            </div>
            <div class="w-[100%] py-[6vw] text-center rounded border border-zinc-300 cursor-pointer hover:shadow-md">
                <img class="m-auto" src="https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_design_cdn/7fc312973cf8/assets/img/svg_illustrations/40x40_home_services_v2.svg" alt="404" />
                Home Services
            </div>
            <div @click="show = !show" :class="{ 'bg-zinc-200': show, 'bg-zinc-100': !show }" 
                class="w-[100%] py-[6vw] text-center rounded border border-zinc-300 cursor-pointer hover:shadow-md">
                <img class="m-auto" src="https://s3-media0.fl.yelpcdn.com/assets/public/40x40_more_v2.yji-961fdce2fd036f85fb01.svg" alt="404" />
                More
            </div>                
        </div>
        <div 
            x-show="show"
            class="grid grid-cols-4 px-10 gap-8 mb-10">
            <span>
                <i class="fa-solid fa-mug-hot"></i>
                Coffee & Tea Shops
            </span>
            <span>
                <i class="fa-solid fa-utensils"></i>
                Food
            </span>
            <span>
                <i class="fa-solid fa-palette"></i>
                Arts & Entertainment
            </span>
            <span>
                <i class="fa-solid fa-people-group"></i>
                Health & Medical
            </span>
            <span>
                <i class="fa-solid fa-shield-halved"></i>
                Professional Services
            </span>
            <span>
                <i class="fa-solid fa-paw"></i>
                Pets
            </span>
            <span>
                <i class="fa-solid fa-house"></i>
                Property
            </span>
            <span>
                <i class="fa-solid fa-hotel"></i>
                Hotel & Travel
            </span>
            <span>
                <i class="fa-solid fa-map-location-dot"></i>
                Local Services
            </span>
            <span>
                <i class="fa-solid fa-calendar-day"></i>
                Event Planning
            </span>
            <span>
                <i class="fa-solid fa-building"></i>
                Government
            </span>
            <span>
                <i class="fa-solid fa-chart-line"></i>
                Financial Services
            </span>
            <span>
                <i class="fa-solid fa-graduation-cap"></i>
                Education
            </span>
            <span>
                <i class="fa-solid fa-hands-praying"></i>
                Religious Organisations
            </span>
            <span>
                <i class="fa-solid fa-seedling"></i>
                Local Flavour
            </span>
            <span>
                <i class="fa-solid fa-photo-film"></i>
                Mass media
            </span>                                                               
        </div>
    </div>
{% endblock %}