{% extends 'base.html.twig' %}
{% block body %}
    <script>
        window.APP_DATA = {
            csrfToken: "{{ csrf_token('authenticate') }}"
        }
    </script>

    <div class="relative top-[4.5rem] h-auto py-16 pb-36 flex justify-center">
        <div class="flex items-center max-w-[1300px]">
            {% if view == 'register' %}
                <div id="register-target"></div>
            {% else %}
                <div id="login-target"></div>
            {% endif %}
            <img 
                class="ml-36 w-96 h-[22rem]"
                src="https://s3-media0.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png">
        </div>
    </div>
{% endblock %}